
@{
    ViewData["Title"] = "Detail";
}
@model Product

<h2>Product Page</h2>
<div class="wrapper">
    <div>
        <img src="~/images/@Model.ImageName" id="detailimage"/>
    </div>
    <div class="details">
        <p id="detailname">@Model.Name</p>
        @if (Model.IsTopSeller)
        {
            <label id="bestseller">BEST SELLER!</label>
        }
        <p id="manufacturer" style="margin-bottom: 5px;">by @Model.Manufacturer</p>
        @if (Model.AverageRating >= 5)
        {
            <img src="~/images/5-star.png" id="rating" />
        }
        else if (Model.AverageRating >= 4)
        {
            <img src="~/images/4-star.png" id="rating" />
        }
        else if (Model.AverageRating >= 3)
        {
            <img src="~/images/3-star.png" id="rating" />
        }
        else if (Model.AverageRating >= 2)
        {
            <img src="~/images/2-star.png" id="rating" />
        }
        else
        {
            <img src="~/images/1-star.png" id="rating" />
        }
        <p id="price" style="font-size: 1.2rem; margin-top: -5px;">Price: @Model.Price</p>
        <label class="producttext" id="weight" style="font-weight:bold; margin-top: -10px;">Weight&thinsp;</label>
        <label class="producttext" id="weight" style="margin-top: -10px">@Model.WeightInLbs lbs.</label>
        <p class="description"><label style="font-weight: bold; margin-bottom: -5px;">Description:&ensp;</label>@Model.Description</p>

    </div>
</div>

